Lenguajes marcas/Evaluación - 2/Tareas/dtd/Básico/Ejercicio DTD Básico 14. Confeccionar un DTD que valide un XML/matricula.dtd

<!ELEMENT matricula (personal, pago)>
<!ELEMENT personal (dni, nombre, titulacion, curso_academico, domicilios)>
<!ELEMENT pago (tipo_matricula)>
<!ELEMENT domicilios (domicilio+)>
<!ELEMENT domicilio (nombre)>
<!ELEMENT dni (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulacion (#PCDATA)>
<!ELEMENT curso_academico (#PCDATA)>
<!ELEMENT domicilios (#PCDATA)>
<!ELEMENT tipo_matricula (#PCDATA)>